.controls {
   overflow: auto;
   overflow-y: scroll;
   scrollbar-width: none; 
   -ms-overflow-style: none; 
   header {
      font-size: 1.8rem;
      padding: 0.6em 0.2em;
      background: #000;
      label {
         color: white;
         font-size: inherit;
         margin-bottom: 8px;
         display: inline-block;
         text-transform: uppercase;
      }
      select {
         width: 100%;
         padding: 0.2em;
      }
      div:first-child {
         margin-bottom: 0.6em;
      }
   }
}
.controls::-webkit-scrollbar { 
   width: 0;
   height: 0;
}
.position-label {
   display: block;
   background: rgb(36, 36, 36);
   color: white;
   width: 100%;
   font-size: 12px;
   padding: 4px;
   text-transform: uppercase;
}
.controls__player {
      text-transform: uppercase;
      background: $secondary;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      .player-shirt {
         display: none;
      }
      &.hold {
         background: transparent!important;
         justify-content: center;
         .player-position {
            display: none;
         }
         .player-name {
            margin: 0;
            padding: 3px 6px;
            background: white;
            border-radius: 2px;
            flex-grow: 0;
            flex-basis: auto;
         }
         .player-squad-no {
            display: none;
         }
         img {
            display: block;
            min-width: 130px;
         }
      }
      .player-name {
         font-weight: bold;
         font-size: 2rem;
         margin: .5rem 1rem .2rem 1rem;
         flex-basis: 100%;
      }
      .player-squad-no {
         font-size: 1.3rem;
         flex-basis: auto;
         margin: 0 .5rem .5rem 1rem;
         margin-left: 1rem;
         margin-bottom: .5rem;
         margin-right: .5rem;
      }
      .player-position {
         font-size: 12px;
      }
      &:hover {
         cursor: pointer;
      }
      &:nth-child(odd) {
         background: $tertiary;
      }
}
.controls__formations {
   background: #252525;
   padding: 1em 0.5em;
   .controls__formations-label {
      color: white;
      margin: 0 0 8px 0;
      text-align: center;
      margin-bottom: 8px;
      font-size: 20px;
   }
   .controls__formation-btns {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 10px;      
      min-width: 142px;
   }
   button {
      font-size: 1.6rem;
      border-radius: .3em;
      border: none;
      background: white;
      padding: .3em .6em;
      &:hover {
         cursor: pointer;
         background: rgba(226, 226, 226, 0.9);
      }
   }
}
.hide {
   display: none;
}
