html, body {
   height: 100vh;
}
body {
   margin: 0;
   padding: 0;
}
.container {
   display: grid;
   grid-template-columns: 300px 1fr;
   height: 100vh;
}
.controls {
   background: rgba(128, 128, 128, 0.274);
}
.pitch {
   background: green;
} 