* {
   box-sizing: border-box;
}

@mixin centerer {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }
html {
   font-size: 10px;
}
html, body {
   height: 100vh;
}
body {
   margin: 0;
   padding: 0;
   font-family: 'IBM Plex Sans', sans-serif;
   font-size: 10px;
   box-sizing: border-box;
}
img {
   max-width: 100%;
}
.container {
   display: grid;
   grid-template-columns: 300px 1fr;
   height: 100vh;
}
$ctr-pad: 0.5em;
$col-primary: #ffebd5;
$col-black: #1f1f1f;
.controls {
   overflow: auto;
   background: lighten($col-primary,5%);
   .controls__header {
      text-align: right;
      button {
         font-size: 2rem;
         padding: .4em;
         border: none;
         background: none;
         i {
            margin-left: .3em;
         }
      }
   }
   label, select, textarea {
      display: block;
   }
   label {
      background: darken($col-primary,10%);
      padding: $ctr-pad;
      font-size: 2rem;
   }
   select {
      font-size: 1.6rem;
      padding: .6em;
      margin: .6em;
   }
   section {
      display: grid;
      grid-template-columns: 1fr 1fr;
   }
}
.controls__player {
      display: block;
      padding: .8em;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 2rem;
      padding: 0.5em 1em;
      margin: 0;
      span {
         font-weight: normal;
         min-width: 1.7em;
         display: inline-block;
         text-align: center;
      }
      &:hover {
         border: 3px dashed darken($col-primary,25%);
         cursor: pointer;
      }
      &:nth-child(odd) {
         background: lighten($col-primary,1%);
      }

}
.pitch {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: center;
   .pitch__img {
      position: absolute;
      width: 100%;
      min-width: 1820px;
      height: 100%;
      object-fit: cover;
   }
   .pitch__team-grid {
      position: relative;
      display: grid;
      height: 100vh;
      width: 100%;
      max-width: 1820px;
      gap: 40px;
      border: 5px solid red;
   }
} 
.pitch__player {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   font-size: 8px;
   .pitch__player-shirt {
      position: relative;
      img {
         width: 14em;
      }
      span {
         position: absolute;
         @include centerer;
         color: white;
         font-size: 4em;
         font-weight: 600;
         display: block;
         text-align: center;
      }
   }
   .pitch__player-label {
      color: black;    
      text-transform: uppercase;
      font-weight: bold;
      font-size: 2.4em;
      display: flex;
      padding: 0.3em 0.6em;
      background: lighten($col-primary,3%);
      color: $col-black;
      margin: 0;
      border-left: .2em solid $col-black;
   }
   &.unpicked {
      .pitch__player-shirt, .pitch__player-number, .pitch__player-label--picked {
         display: none;
      }
   }
   &.picked {
      .pitch__player-circle, .pitch__player-character, .pitch__player-label--unpicked {
         display: none;
      }
   }
}

// 442 //
.formation-442 {
   grid-template-columns: repeat(4, 1fr);
   grid-template-areas: 
      "g d2 m6 ."
      "g d3 m7 f9"
      "g d4 m8 f10"
      "g d5 m11 .";
   .player-1 {
      grid-area: g;
   }
   //Defenders
   .player-2 {
      grid-area: d2;
   }
   .player-3 {
      grid-area: d3;
   }
   .player-4 {
      grid-area: d4;
   }
   .player-5 {
      grid-area: d5;
   }
   //Midfield
   .player-6 {
      grid-area: m6;
   }
   .player-7 {
      grid-area: m7;
   }
   .player-8 {
      grid-area: m8;
   }
   .player-11 {
      grid-area: m11;
   }
   //Forwards
   .player-9 {
      grid-area: f9;
   }
   .player-10 {
      grid-area: f10;
   }
}

.hide {
   display: none!important;
}