.fixture-banner {
   display: flex;
   justify-content: center;
   background: rgba(0, 0, 0, 0.5);
   position: absolute;
   right: 0;
   z-index: 9;
   padding: 10px 20px;
   img {
      height: 100px;
      width: auto;
   }
   .fixture__versus {
      color: white;
      display: flex;
      align-items: center;
      font-size: 40px;
      margin: 0 20px;
   }
}