.fixture {
   display: flex;
   justify-content: center;
   background: #000;
   img {
      height: 100px;
      width: auto;
   }
   p {
      color: #fff;
   }
   .fixture__versus {
      color: white;
      display: flex;
      align-items: center;
   }
}