
<header class="fixture-banner">
  <div class="fixture__team">
     <img src="assets/images/badges/pne.svg" alt="PNE badge">
     <h2 class="visually-hidden ">Preston North End</h2>
     <p>hello</p>
  </div>
  <span class="fixture__versus">V</span>
  <div class="fixture__team">
     <img src="assets/images/badges/blackpool.svg" alt="Blackpool badge">
     <h2 class="visually-hidden ">Blackpool</h2>
  </div>
</header>

<main class="container">

  <nav class="controls">
        <div class="controls__formations">
           <h3 class="controls__formations-label">Formation</h3>
           <div class="controls__formation-btns">
              <button class="442">4-4-2</button>
              <button class="433">4-3-3</button>
              <button class="532">5-3-2</button>
              <button class="352">3-5-2</button>
              <button class="4231">4-2-3-1</button>
           </div>
        </div>   
     <div class="controls__players">
     </div>
  </nav>

  <section class="pitch">
     <img class="pitch__img" src="assets/images/pitch.png" alt="A football pitch used for the background">
     <div id="pitch__team-grid" class="formation-532"> 
        <div class="pitch__player player-1">
           <img src="assets/images/pool-shirt-grey.svg" class="grey-shirt" alt="Blackpool FC shirt, grey">
           <p class="player-squad-no">1</p>
           <p class="player-name">Goalkeeper</p>
        </div>

        <div class="pitch__player player-2">
           <img src="assets/images/pool-shirt-grey.svg" alt="Blackpool FC shirt, grey">
           <p class="player-squad-no">2</p>
           <p class="player-name">Player name</p>
        </div>

        <div class="pitch__player player-3">
           <img src="assets/images/pool-shirt-grey.svg" alt="Blackpool FC shirt, grey">
           <p class="player-squad-no">3</p>
           <p class="player-name">Player name</p>
        </div>

        <div class="pitch__player player-4">
           <img src="assets/images/pool-shirt-grey.svg" alt="Blackpool FC shirt, grey">
           <p class="player-squad-no">4</p>
           <p class="player-name">Player name</p>
        </div>

        <div class="pitch__player player-5">
           <img src="assets/images/pool-shirt-grey.svg" alt="Blackpool FC shirt, grey">
           <p class="player-squad-no">5</p>
           <p class="player-name">Player name</p>
        </div>

        <div class="pitch__player player-6">
           <img src="assets/images/pool-shirt-grey.svg" alt="Blackpool FC shirt, grey">
           <p class="player-squad-no">6</p>
           <p class="player-name">Player name</p>
        </div>

        <div class="pitch__player player-7">
           <img src="assets/images/pool-shirt-grey.svg" alt="Blackpool FC shirt, grey">
           <p class="player-squad-no">7</p>
           <p class="player-name">Player name</p>
        </div>

        <div class="pitch__player player-8">
           <img src="assets/images/pool-shirt-grey.svg" alt="Blackpool FC shirt, grey">
           <p class="player-squad-no">8</p>
           <p class="player-name">Player name</p>
        </div>

        <div class="pitch__player player-9">
           <img src="assets/images/pool-shirt-grey.svg" alt="Blackpool FC shirt, grey">
           <p class="player-squad-no">9</p>
           <p class="player-name">Player name</p>
        </div>

        <div class="pitch__player player-10">
           <img src="assets/images/pool-shirt-grey.svg" alt="Blackpool FC shirt, grey">
           <p class="player-squad-no">10</p>
           <p class="player-name">Player name</p>
        </div>

        <div class="pitch__player player-11">
           <img src="assets/images/pool-shirt-grey.svg" alt="Blackpool FC shirt, grey">
           <p class="player-squad-no">11</p>
           <p class="player-name">Player name</p>
        </div>
     </div>
  </section>
</main>

<router-outlet></router-outlet>
