/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}
@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
html {
  font-size: 10px;
}
html, body {
  height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 10px;
  box-sizing: border-box;
}
body {
  position: relative;
}
img {
  width: 100%;
  height: auto;
}
.container {
  display: grid;
  grid-template-columns: 220px 1fr;
  height: 100vh;
  overflow: hidden;
}