.controls {
   overflow: auto;
   background: lighten($col-primary,5%);
   .controls__header {
      text-align: right;
      button {
         font-size: 2rem;
         padding: .4em;
         border: none;
         background: none;
         i {
            margin-left: .3em;
         }
      }
   }
   label, select, textarea {
      display: block;
   }
   label {
      background: $col-tangerine;
      color: white;
      font-weight: bold;
      padding: $ctr-pad;
      font-size: 2rem;
   }
   select {
      font-size: 1.6rem;
      padding: .6em;
      margin: .6em;
   }

}
.controls__player {
      display: flex;
      flex-wrap: wrap;
      padding: .8em;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.8rem;
      padding: 0.6em 1em;
      margin: 0;
      img {
         display: none;
      }
      .squad-number {
         margin-right: 0.4em;
      }
      p {
         margin: 0;
      }
      .squad-position {
         font-size: 1.2rem;
         margin-top: 0.4em;
         font-weight: normal;
         flex-basis: 100%;
      }

      &:hover {
         border: 3px dashed darken($col-primary,25%);
         cursor: pointer;
      }
      &:nth-child(odd) {
         background: lighten($col-primary,1%);
      }
}
