.controls {
   overflow: auto;
   background: adjust-hue( $primary, 5% );
   header {
      font-size: 1.8rem;
      padding: 0.6em;
      label {
         color: white;
         font-weight: normal;
         font-size: inherit;
      }
      select {
         width: 100%;
         padding: 0.2em;
      }
      div:first-child {
         margin-bottom: 0.6em;
      }
   }
}
.controls__player {
      display: flex;
      flex-wrap: wrap;
      padding: .8em;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.8rem;
      padding: 0.6em 1em;
      margin: 0;
      background: $secondary;
      img {
         display: none;
      }
      .squad-number {
         margin-right: 0.4em;
      }
      p {
         margin: 0;
      }
      .squad-position {
         font-size: 1.2rem;
         margin-top: 0.4em;
         font-weight: normal;
         flex-basis: 100%;
      }
      &:hover {
         border: 1px dashed $primary;
         cursor: pointer;
      }
      &:nth-child(odd) {
         background: $tertiary;
      }
}
.controls__formations {
   div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 10px;      
   }
   button {
      font-size: 1.6rem;
      border-radius: .3em;
      border: none;
      background: white;
      padding: .3em .6em;
      border-bottom: 2px solid rgb(207, 100, 0);
      border-right: 2px solid rgb(207, 100, 0);
      &:hover {
         cursor: pointer;
         background: rgba(226, 226, 226, 0.9);
      }
   }
}
