.pitch {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: center;
   .pitch__img {
      position: absolute;
      width: 100%;
      min-width: 1820px;
      height: 100%;
      object-fit: cover;
   }
   .pitch__team-grid {
      position: relative;
      display: grid;
      height: 100vh;
      width: 100%;
      max-width: 1820px;
      gap: 2em;
   }
} 
.pitch__player {
   align-self: center;
   justify-self: center;
   position: relative;
  // background-image: url(../images/pool-shirt-grey.svg);
   &.over {
      border: 4px dashed white;
      padding: 12px;
   }
   img {
      width: 130px;
   }
   .squad-name { 
      display: none;
      @include absCentreHorizontal(); 
      font-weight: normal;
      font-size: 2rem;
      padding: 0.1em 0.3em;
      background: white;
      color: $col-black;
      text-transform: uppercase;
      font-weight: bold;
      margin: 0;
      text-align: center;
   }
   .squad-number {
      @include absCentre();
      visibility: hidden; 
      color: white;
      font-size: 3.2rem;
      font-weight: bold;
      margin: 0;
   }
   .squad-position {
      display: none;
   }
   &.active {
      .squad-number {
         visibility: visible;
      }
      .squad-name {
         display: block;
      }
   }
}
