.pitch {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: center;
   .pitch__img {
      position: absolute;
      width: 100%;
      min-width: 1820px;
      height: 100%;
      object-fit: cover;
   }
} 
#pitch__team-grid {
   position: relative;
   width: 100%;
   height: 100%;
   max-width: 1820px;
}
.pitch__player {
   align-self: center;
   justify-self: center;
   position: relative;
   padding: 0.8em;
   border: 0.4em solid transparent;
   font-size: 1rem;
   img {
      max-width: 120px;
   }
   &.over {
      border: 0.2em dashed rgba(255,255,255, 0.7);
      background: #000;
   }
   &.active {
      .player-name {
         display: block;
      }
   }
   .player-name { 
      @include absCentreHorizontal(); 
      font-weight: normal;
      font-size: 2rem;
      padding: 0.1em 0.4em;
      background: white;
      color: $col-black;
      text-transform: uppercase;
      font-weight: bold;
      margin: 0;
      text-align: center;
      display: none;
   }
   .player-squad-no {
      @include absCentre();
      color: white;
      font-size: 3.2rem;
      font-weight: bold;
      margin: 0;
   }
   .player-position {
      display: none;
   }
   .goalie-shirt {
      display: none;
   }
   &.goalie-on {
      .goalie-shirt {
         display: block;
      }
      .grey-shirt {
         display: none;
      }
   }
}
.formation-label {
   position: absolute;
   top: 20px;
   right: 20px;
   font-size: 24px;
   padding: .5em 1em ;
   background-color: rgb(22, 20, 20);
   color: white;
   display: inline-block;
   p {
      margin: 0;
   }
}